.form {
    background-image: url('../form.png');
    background-repeat: no-repeat;
    background-size: 100vw 500vh;
    position: relative;
}

.arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 90%;
}